html,
body,
body > div {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* biome-ignore lint/suspicious/noDuplicateProperties: with fallback */
  min-height: 100lvh;
}

body > div {
  display: flex;
  flex-direction: column;
  background-color: var(--purpur-color-background-primary);
  color: var(--purpur-color-text-default);
}

body > div > main {
  flex: 1;
}
